@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #e0a642;
    text-align: center;
}

#tabla {
    font-family: "Hind Madurai";
}

.lista {
    font-family: "Lora", serif;
}

span {
    font-family: "Lora", serif;
}

body {
    background-color: #292929;
}

#seccion {
    background-color: #ffdcad;
    color: #6d2c2c;
}

.formulario {
    margin: 15px 0px;
    padding: 0.5%;
}

.imagen, .video {
    margin: 2px 1px 1.5px;
    margin-top: 0.8rem;
    border: 0.2pt dashed #827d7d;
    padding: 2% 11%;
    box-shadow: 
   rgba(179, 92, 30, 0.25) 0px 54px 55px, 
   rgba(179, 92, 30, 0.12) 0px -12px 30px, 
   rgba(179, 92, 30, 0.12) 0px 4px 6px,
   rgba(179, 92, 30, 0.17) 0px 12px 13px, 
   rgba(179, 92, 30, 0.09) 0px -3px 5px;
}

.video {
    padding: 2% 25%;
}